h2 {
  margin-top:0;
  padding-top:1rem;
  margin-left: 2rem;
}

.cart {
  display: flex;
  button {
    margin-left: 0;
    margin-bottom: 2rem;
  }
}

.cart-product-info {
  display: flex;
  margin-top: 1.5rem;
  padding-left: 4rem;
  width: 70%;

  h5:nth-child(1) {
    width: 35%;
  }
  h5:nth-child(2) {
    width: 12%;
  }
  h5 {
    width: 25%;
  }
}

.cart-items {
  display: flex;
  flex-direction: column;
  width: 70%;
  padding-left: 2rem;

  p {
    width: 20%;
  }

  p:nth-child(5) {
    width: 15%;
  }
  p:last-child {
    width: 5%;
  }
}

.cart-item {
  display: flex;
  margin: 1rem 0;
  border-bottom: 1px solid #ccc;
  .cart-item__image-wrapper {
    img {
      width: 150px;
    }
    margin-bottom: 1rem;
    margin-right: 2rem;
  }

  .cart-item__quantity {
    display: flex;
    width: 13%;
    justify-content: space-evenly;
    p {
      width: initial;
    }
  }
}

.cart-total {
  background-color: #cbc7c750;
  padding: 1rem 2rem;
  width: 30%;
  height: 300px;
  margin-left: 2rem;
  margin-right: 2rem;
  border-radius: 0.4rem;
}

@media (max-width: 900px) {
  .cart {
    flex-direction: column;
    align-items: center;
  }

  .cart > * {
    width: initial;
  }
  .card-product-info {
    width: 100%;
  }

  .cart-items {
    padding-left: 0;
    width: 90%;
  }

  h2 {
    margin-left:1.5rem;
    padding-top:1rem;
    font-size:1.25rem;
  }

  .cart-item {
    .cart-item__image-wrapper {
      img {
        width: 75px;
      }
      margin-bottom: 1rem;
      margin-right: 0.5rem;
    }
    .cart-item__quantity {
      width: 25%;
    }
    p {
      margin: 0;
    }
  }

  .cart-total {
    margin-left: 0;
    margin-right: 0;
    width: 80%;
  }
}
