.filter {
  display: flex;
  margin-top: 1rem;
  margin-left: 2rem;
  align-items: center;
  .search {
    display: flex;
    align-items: center;
    margin-right: auto;
    button {
      margin-left: 0.5rem;
    }
  }
  label {
    margin-right: 1rem;
  }

  .sort-by-price {
    margin-right: 2rem;
    display: flex;
    align-items: center;
  }
}

.product-list-wrapper {
  display: flex;
  .sort-by-cate {
    display: flex;
    flex-direction: column;
    width: 15%;
    margin-left: 2rem;
    margin-top: 1rem;
  }
  .product-list {
    margin: 0 2rem;
    width: 80% !important;
  }
}

.pagination {
  display: flex;
  justify-content: center;
  padding-bottom: 1rem;
  margin-top:1rem;
}
@media (max-width: 800px) {
  .filter {
    flex-direction: column;
    margin-left: 0;
    .search {
      margin-left:1.5rem;
      margin-bottom:0.5rem;
    }
    .sort-by-price {
      margin-right: 0;
      display:flex;
      width:100%;
      margin-left:3.5rem;
    }
  }
  .product-list-wrapper {
    flex-direction: column;
    .sort-by-cate {
      width: 100%;
      margin: 0 1.5rem 0 1.5rem;
      flex-direction: row;
      padding-right: 1.5rem;
    }
    .product-list {
      margin: 0;
      width: 100% !important;
    }
  }
}
