@use "./components/cart.scss";
@use "./components/productcard.scss";
@use "./components/productlist.scss";
@use "./pages/favpage.scss";
@use "./pages/homepage.scss";
@use "./pages/productpage.scss";
@use "./pages/profilepage.scss";
@use "./pages/notfoundpage";
@use "./pages/modifications.scss";
@use "./components/confirmation-prompt";
@use "./pages/login";

* {
  box-sizing: border-box;
  font-family: "poppins";
  text-decoration: none;
}

body {
  margin: 0;
  padding: 0;
}

form {
  display: flex;
  flex-direction: column;
  background-color: #e4dddc69;
  padding: 2rem;
  border-radius: 1rem;
}

.page-name {
  font-size: 1.75rem;
  text-align: center;
  margin-top: 2rem;
}

@media(max-width:600px) {
  * {
    font-size:0.8rem;
  }
}